* {
    font-family: 'robotto';
    
}

body{
    background-color: white;
}
h2 {
    font-size: 32px;   
    

}

h3 {
    font-size: 30px;
}

h6 {
    color: #0B9EED;
    font-size: 40px;
}

p {
    font-size: 8px;
}







/* Couleur du logo bleu : #0b9eed
Couleur du logo rouge : #E1295A */


/* Commande pour mettre un text en commentaire : CTRL + Numpad1 */