* {
    font-family: 'Crimson Text', sans-serif;;
}

h2 {
    font-size: 30px;
    padding-bottom: 25px;

}

p {
    font-size: 20px;
}

section {
    margin-bottom: 5px;
}

/* Couleur du logo bleu : #10B1CD
Couleur du logo rouge : #E1295A */