* {
    font-family: 'robotto';
    
}

body{
    background-color: white;
}
h2 {
    font-size: 30px;
   
    
    

}

p {
    font-size: 10px;
}





/* Couleur du logo bleu : #10B1CD
Couleur du logo rouge : #E1295A */


/* Commande pour mettre un text en commentaire : CTRL + Numpad1 */