.agenda {
    background-color: #0B9EED;
    height: 500px;
    width: 100%;
    margin-bottom: 20px;
    width: 100%;
    align-items: left;
    text-align: left;
    color: white;
    padding-left: 45px;
    padding-top: 15px;
}

.derniers {
    background-color: white;
    width: 28%;
    height: 20%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.derniers .matchs img {
    width: 80px;
}

.matchs, .text_matchs {
    display: flex;
    justify-content: space-between;

}
.agenda .derniers .text_matchs h3{
    margin: 2px;
    text-align: right;
}

.agenda .derniers .text_matchs a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 5px;
}
