



.bloc-video {
    position: absolute;
    z-index: -100;
    overflow: hidden;
    height: 100vh;
    width: 100%;
   

}

.bloc-video video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    
    
   
   
}
