h1 {
    font-size: 80px;
    text-align: center;
    margin: 0;
    padding-top: 20%;
   font-family: 'Karla';
}

.hero {
    
   
    background-size: cover;    
    height: 620px;
    width: 100%;
    color: white;
   
    
}

.hero .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 342px;
    width: 100%;
    
} 

.hero p {
    padding-top: 300px;
    text-shadow: 5px 5px black;
}

.video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    display:block;
    width: 100%;
    
    
    margin:0 auto 0px auto;
}

@media screen and (min-width: 1700px) {
    .hero {
      height: 850px;
      margin-bottom: 10px;
    }
    .hero .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        height: 860px;
        width: 100%;
        
    } 
  }