nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    align-items: center;
}

nav img {
    height: 50px;
    width: 50px;
    border-radius: 55px;
}
li{
    list-style-type: none;
    padding: 10px;
    font-size: 14px; 
}

.sommaire a {
    text-decoration: none;
    
    color: black;
    padding: 5px;
}

.sommaire_blanc {
    display: flex;
}

ul {
    display: flex;
    
    margin: 0;
    padding-left: 0;
    
}

#logo {
    font-size: 40px;
}

.live {
    background-color: #E1295A;
    border-radius: 5px;
    color: white;
}

.live a{
    color: white;
    font-weight: 600;
}