nav {
    display: flex;
    position: absolute;
    top: 10px;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
}

nav .logo {
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 600px;
}

.overlay button {
    margin-left: 49%;
    background-color: white;
    border: 2px solid red;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: none;
    color: red;
}

.overlay button img {
    height: 50px;
    width: 50px;
}

nav ul li {
    margin-right: 20px;
}

.sommaire_blanc  {
   list-style-type: none;
   display: flex;
   
   
   
}












/* nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
    align-items: center;
    width: 98%;
    
}

nav img {
    height: 50px;
    width: 50px;
    border-radius: 55px;
    
}
li{
    list-style-type: none;
    padding: 10px;
    font-size: 14px; 
}

.sommaire a {
    text-decoration: none;
    
    color: white;
    padding: 5px;
}

.sommaire_blanc {
    display: flex;
}

ul {
    display: flex;
    
    margin: 0;
    padding-left: 0;
    
}

#logo {
    font-size: 40px;
}

.live {
    background-color: #E1295A;
    border-radius: 5px;
    color: white;
}

.live a{
    color: white;
    font-weight: 600;
} */