nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    align-items: center;
}

nav img {
    height: 50px;
    width: 50px;
    border-radius: 55px;
}
li{
    list-style-type: none;
    padding: 10px;
    font-size: 14px; 
}

#button_live {
    background-color: #E1295A;
    border-radius: 10px;
    box-shadow: 2px 2px #E1295A;
    };
}

#button_live a {
    
    color: white;
}


.sommaire a {
    text-decoration: none;
    color: black;
    padding: 5px;
}



ul {
    display: flex;
    margin: 0;
    padding-left: 0;
    
}

#logo {
    font-size: 40px;
}