.aligne {
    text-align: center;
}

.presentation  {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    height: 450px;
    margin: 5px;
    width: 500px;
    text-align: left;
    margin-left: 50px;
    
  
}

.presentation p {
    font-size: 17px;
}

.classe{
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.join {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    margin-bottom: 50px;
    
}



.join a {
    padding: 6px;
    text-decoration: none;
    font-weight: 300;
    color: black;
    border: 2px solid black;
    text-transform: uppercase;
   
}

.join a:hover {
    color: white;
}
