.reseaux {
    background-color: black;
    color: white;
    height: 400px;
    padding-top: 5px;
    padding-bottom: 10px;
    
}

.liens a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    
}

.liens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reseaux video {
    
    border-radius: ;
    border: 2px solid #10B1CD;
    
    
}

.video_reseaux {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 55px;
}


