.reseaux {
    background-color: #0b9eed;
    height: 200px;
    color: black;
   
    
    padding-top: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.boite-reseaux {
    width: 100%;
    text-align: center;
    
}

.icone_rsx {
    display: flex;
    justify-content: space-between;
    
    width: 50%;    
}

.reseaux img {
    height: 50px;
    width: 50px;
}





/* reconnectesport40@gmail.com 
https://discord.gg/KAFAV8Yj6X */