.video_recentes {
    color: black;
    height: 400px;
    padding-top: 5px;
    padding-bottom: 10px;
    
}



.liens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.video-recentes video {
    
    border-radius: ;
    border: 4px solid white;
    
    
}

.video_reseaux {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 55px;
}


